<h1>Dashboard</h1>

<h2>Recent notes</h2>

<table>
  <tbody>
    <% @recent_notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, edit_note_path(note) %></td>
        <td><%= time_ago_in_words(note.updated_at) %></td>
        <td><%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Note', new_note_path, class: "btn" %>
