<h1>Dashboard</h1>

<table>
    <thead>
        <tr>
            <th>Most Recent Notes</th>
            <th>Created</th>
        </tr>
    </thead>
    
    <tbody>
        <td></td>
    </tbody>
</table>