// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/cssfamily=Lato:400,300,700,400italic,700italic,900);

body {
    font-family: Lato, sans-serif !important;
    color: #323232 !important;
}

h1, h2 {
    text-transform: uppercase !important;
    font-weight: 900 !important;
}

h1.logo, {
    text-indent: -9999px;
    background-image: url(scrawl.png);
    background-repeat: no-repeat;
    height: 238px;
    background-position: 45%;
}

.small_logo {
    background-image: url(scrawl.png);
    background-repeat: no-repeat;
    height: 90px; 
    width: 15%;
    background-size: 150px 60px;
    position: relative;
    top: -40px;
}

.btn {
    background-color: #FF8B0D;
    color: #FFF !important;
    height: 40px;
    text-decoration: none !important;
    line-height: 26px !important;
    &:hover {
        color: #060367 !important;
    }
}

.button_to > input {
    background-color: #FF8B0D;
    border-style: none !important;
    color: #FFF !important;
    height: 40px;
    text-decoration: none !important;
    line-height: 26px !important;
    &:hover {
        color: #060367 !important;
    }
}

nav {
    height: 40px;
    padding-right: 30px;
    margin-top: 30px;
  
    form{
      float: right;
      height: 30px !important;
      margin-right: 6px;
      position: relative;
      top: -4px;
    }
}

nav a {
    display: block;
    float: right;
    height: 30px;
    padding: 22px 25px 25px 25px;
    margin: auto 4px;
    text-transform: uppercase;
    text-decoration: none !important;
    
    &:visited {
        color: #FFF;
    }
    
    &:hover {
        text-decoration: none;
        background-color: #FF8B0D;
    }
    
    &.linkToHome {
        float: none;
        display: inline;
        padding: 0px;
    }
    
    &.linkToHome:hover {
        background-color: transparent;
    }
    
}

img.logo {
    margin-top: 3px;
    margin-left: 15px;
}

a.link, input.link {
  border: 2px solid #0B06A4;
  border-radius: 5px;
  padding: 4px;
  &:hover {
    color: #FFF !important;
    background-color: #0B06A4;
    text-decoration: none;
  }
}

input {
  border-radius: 5px;
  border-style: solid;
  
  &.link {
    background-color: #FFF;
    border: 2px solid #0B06A4;
    border-radius: 5px;
    padding: 4px;
    position: relative;
    height: 30px;
    &:hover {
      color: #FFF !important;
      background-color: #0B06A4;
      text-decoration: none;
    }
  }
}

.floatRight {
  float: right;
  margin: 0 6px;
  position: relative;
  top: -80px;
}

.nudgeUp {
  top: -84px;
}

#bluestripe {
  background-color: #13CCFF;
  height: 20px;
  margin-bottom: 6px;
  width: 100%;
}
