// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.logo {
    text-indent: -9999px;
    background-image: url(scrawl.png);
    background-repeat: no-repeat;
    height: 238px;
    background-position: 50%;
}

a.main_link {
    color: #13ccff;
    display: block;
    text-align: center;
}