// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/cssfamily=Lato:400,300,700,400italic,700italic,900);

body {
    font-family: Lato, sans-serif !important;
}

h1, h2 {
    text-transform: uppercase;
    font-weight: 900 !important;
}

h1.logo {
    text-indent: -9999px;
    background-image: url(scrawl.png);
    background-repeat: no-repeat;
    height: 238px;
    background-position: 50%;
}

a.main_link {
    color: #13ccff;
    display: block;
    text-align: center;
}

.btn {
    background-color: #FF8B0D;
    color: #FFF;
}

nav {
    background-color: #13CCFF;
    background-image: url(scrawl_white.png);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 8%;
    height: 60px;
    padding-right: 30px;
}

nav a {
    display: block;
    color: #FFF;
    float: right;
    height: 60px;
    padding: 22px 25px 25px 25px;
    text-transform: uppercase;
}

nav a:visited {
    color: #FFF;
}

nav a:hover {
    text-decoration: none;
}

