// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tag_cloud {
    width: 400px;
    line-height: 2.6em;
}

.tag_link {
  color: #FFF !important;
  background-color: #0B06A4;
  border: 2px solid #0B06A4;
  border-radius: 5px;
  padding: 4px;
  &:hover {
    color: #0B06A4 !important;
    background-color: #FFF;
    text-decoration: none;
  }
}